﻿@model Quizz_KamiliaSbahi.Models.RDV

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Annuler votre RDV?</h3>
<div>
    <h4>RDV</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Journee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heure)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
