﻿@model IEnumerable<Quizz_KamiliaSbahi.Models.RDV>

@{
    ViewBag.Title = "ListeRDV";
}

<h2>ListeRDV</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Journee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heure)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Journee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heure)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IdRDV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRDV })
        </td>
    </tr>
}

</table>
